.attribution {
  font-size: 16px;
  text-align: center;
  color: var(--w);
  font-family: "Open Sans";
  padding-bottom: 1rem;
  padding-top: 3rem;
  color: white;
}

.attribution a {
  color: var(--pink);
}